* {
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: #222;
  padding: 20px;
  color: #f4f4f4;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

.main {
  background-color: #d7d4d4;
  min-height: calc(100vh - 117px);
  display: flex;
}
.sidebar {
    width: 21%;
    background-color: aqua;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab {
    margin: 10px;
    padding: 20px;
    background-color: aquamarine;
    width: 50%;
    text-align: center;
}
.tab:hover {
    background-color: aqua;
    cursor: pointer;
}

.content {
    width: 79%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
  background-color: #222;
  padding: 20px;
  color: #f4f4f4;
  display: flex;
  justify-content: center;
}
